<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiluhospital.mapper.PacsMapper">

    <select id="annualSystemAnalysis" resultType="map">
        <!--        select count(1) as amount,extract(year from REPORTTIME) as year from v_report_dc_01-->
        <!--        group by extract(year from REPORTTIME)-->
        select count(1) as amount,year from
        (
        select substr(study_date,1,4) year from dosr_study
        ) a group by year order by year desc
    </select>

    <select id="totalAmount" resultType="integer">
        select count(1) as amount from dosr_study
    </select>

    <select id="serverMonitor" resultType="map">
        select serverStatus,amount,a.source_called_title from (

        select sum(num_objects) serverStatus,source_called_title from study_info group by source_called_title

        ) a
        left join (

        select count(*) amount,source_called_title from study_info group by source_called_title

        ) on a.source_called_title = b.source_called_title
    </select>

    <select id="todayReportAmount" resultType="integer">
        select count(1) from v_report_dc_01
    </select>

    <select id="todayVerifyAmount" resultType="integer">
        select count(1) from v_verify_dc_01
    </select>

    <select id="todayMaxReport" resultType="map">
        select * from (
        SELECT T.*,row_number() over (partition by modalitytype order by a desc) rn FROM (
        select modalitytype,reportdoctor_id,count(1) a from v_report_dc_01 group by modalitytype,reportdoctor_id
        ) T
        )
        where rn = 1
    </select>

    <select id="todayMaxVerify" resultType="map">
        select * from (
        SELECT T.*,row_number() over (partition by modalitytype order by a desc) rn FROM (
        select modalitytype,reportdoctor_id,count(1) a from v_verify_dc_01 group by modalitytype,reportdoctor_id
        ) T
        )
        where rn = 1
    </select>
</mapper>